.layout {
  height: 100%;
  display: flex;
  background: var(--white);
}

.sidebar {
  width: 360px;
  min-width: 360px;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  background: var(--bg-dark);
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}

@media (max-width: 768px) {
  .layout {
    position: relative;
  }

  .sidebar {
    width: 100%;
    min-width: 100%;
    transition: transform 0.25s ease;
  }

  .main {
    width: 100%;
    transition: transform 0.25s ease;
  }

  .hideMobile {
    display: none;
  }
}
