.layout {
  height: 100%;
  display: flex;
  background: var(--white);
}

.sidebar {
  width: 380px;
  min-width: 380px;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  background: var(--white);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-width: 100%;
  }

  .main {
    width: 100%;
  }

  .hideMobile {
    display: none;
  }
}
